*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }

    .home {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }