*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  .home{
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    }

    img{
      width: 30%;
      height: 350px;
    }